<section class="site-footer company-intro">
    <p><a href="http://forfuture.co.ke">Forfuture LLC</a>, A Mobile and Web Application Development Company that People trust.</p>
    <p class="links">
        <a href="http://forfuture.co.ke/index.html#services-header">Services</a>|
        <a href="http://forfuture.co.ke/portfolio.html">Portfolio</a>|
        <a href="http://forfuture.co.ke/process.html">Development Process</a>|
        <a href="http://forfuture.co.ke/index.html#div-contact">Start a Project with Us</a>
    </p>
</section>
